.search {
  width: 100%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
}
.container {
  display: inline-block;
  width: 15%;
}
